<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IPSOS_TestDataGenerator.TestData_Configurations" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <IPSOS_TestDataGenerator.TestData_Configurations>
            <setting name="HouseHold" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Persons_In_HuoseHold" serializeAs="String">
                <value>2</value>
            </setting>
        </IPSOS_TestDataGenerator.TestData_Configurations>
    </applicationSettings>
</configuration>